/* LAYOUT */

body{
    margin: 0;
    padding: 0;
    font-family: Ubuntu, Roboto;
}

/* FLEXBOX */

.flex-row-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 60px;
}

.flex-1{
    flex: 1;
    margin: auto;
}

.flex-2 {
    flex: 2;
    margin: auto;
}

/* FONTS */

.ubuntu {
    font-family: "Ubuntu";
}

.roboto {
    font-family: "Roboto", sans-serif;
}

/* FONT STYLES */

h1{
    font-family: "Roboto";
    line-height: 108px;
    font-size: 82px;
    font-weight: 400;
    letter-spacing: 18.40px;
    text-align: center;
}

h2{
    font-size: 40px;
    font-family: "Ubuntu";
    font-weight: 700;
    letter-spacing: 12px;
    list-style: 69px;
}

h3{
    color: #00397B;
    font-size: 25px;
    font-family: "Ubuntu";
    font-weight: 700;
    letter-spacing: 8px;
}

h4{ 
    font-size: 18px;
    font-family: "Ubuntu";
    font-weight: 300;
    text-decoration: underline;
}

h5{
    font-size: 16px;
    font-family: "Ubuntu";
    font-weight: 400;
}

p{
    font-size: 18px;
    font-family: "Ubuntu";
    font-weight: 400;
    line-height: 29px;
}

ul li{
    list-style-type: none;
    font-family: "Ubuntu";
}

/* BUTTONS */

button{
font-size: 14px;
color: white;
font-family: Ubuntu;
font-weight: 700;
text-transform: uppercase;
padding: 24px;
border: 1px white solid;
background-color: black;
text-align: center;
}

#button-com{
    font-size: 20px;
    font-family: "Ubuntu";
    font-weight: 400;
    letter-spacing: 6px;
    border: none;
    width: 450px;
    text-decoration: underline;
}

.button-blue{
    background-color: transparent;
}

button:hover {
background-color: grey;
}

/* LOGOS */

.logo-1{
    width: 114px;
    height: 111px;
}

.logo-2{
    width: 121px;
    height: 149px;
}

/* NAVIGATION BAR */

.nav-bar{
    text-transform: uppercase;
    background-color: #00397B;
    color: white;
    display: flex;
    padding: 30px 46px;
    align-items: center;
    font-weight: 700;
    justify-content: space-between;
    align-items: center;

}

#nav-li{
    display: flex;
    gap: 80px; 
    list-style: none; 
}

nav a {
    position: relative; /* ENSURE LINKS REMAIN CLICKABLE */
    z-index: 10; /* TO ENSURE LINKS APPEAR */
}

a:hover {
    text-decoration: underline;
}


/* IMAGES - HOME */

img {
    max-width: 100%; 
    height: auto; 
}

#home-img-1{
    width: 357px;
    height: 468px;
}

.img-bg{
    width: 100%;
    background-image: url(../Images/Bike+Edmonton_LOGO2\ 3.png);
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    z-index: -1; 
}

/* GRADIENT */


.gradient-wrap{   
    width: 100%;
    height: 832px;
    position: relative;
    background-image: url(../Images/Homeheroimage.jpeg);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gradient {
    width: 100%;
    height: 100%;
    position: absolute; /* ADDS A BLACK LAYER TO THE IMAGE */
    background: radial-gradient(50% 50% at 50% 50%, #242424, rgba(36, 36, 36, 0.5));
    top: 0;
    left: 0;
}

.community {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 58px;
    margin: 180px auto 180px auto;
    z-index: 4; /* POSITION THE TEXT */
    color: white;
    padding: 223px 121px;
}

/* PADDINGS */

.padding-bottom {
    padding-bottom: 50px;
}

.padding-section{
    padding: 40px 0px;
}

.padding-general {
    padding: 40px 80px;
}

/* HOMEPAGE */
.help-wrap{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    padding: 40px 80px;
}

.bg-blue {
    background-color: #00397B;
    color: white;
}

.service-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px; 
    padding: 40px 80px;
}


/* FOOTER */
  
.footer {
    background-color: #00397B;
    color: white;
    padding: 30px 20px;
    text-align: center;
}
  
.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}


.footer-section {
    flex: 1 1 200px; /* DIVIDE EACH FOOTER SECTION */
    margin: 20px;
    text-align: left;
}
 
.footer-section ul li {
    margin-bottom: 30px;
    color: white;
}

.footer-section ul {
    padding: 0; /* ALIGN TO LEFT */
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}
  
.social-icons {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}
  
.social-icons a img {
    width: 40px;
    height: 40px;
}
  
.footer-bottom {
    border-top: 0.5px solid white;
    margin-top: 30px;
    padding: 20px 129px;
    text-align: center;
}
  
/* -----MEDIA QUERIES----- */ 


/* SMARTPHONE */
@media screen and (max-width: 480px) {
    body {
      font-size: 14px; 
    }
  
    .nav-bar {
        flex-direction: column;
        align-items: center;
        padding: 10px 20px;
    }

    #nav-li {
        flex-direction: column; /* Stack links vertically */
        gap: 10px;
        text-align: center;
    }

    .nav-button {
        margin-top: 10px; /* Add spacing for button */
    }

    h1 {
      font-size: 36px;
      line-height: 48px;
      letter-spacing: 4px;
    }
  
    h2 {
      font-size: 24px;
      letter-spacing: 4px;
    }

    .flex-row-top {
      flex-direction: column; 
      gap: 10px;
    }
  
    .footer-container {
      flex-direction: column; 
      text-align: center;
    }
  
    .footer-bottom {
      padding: 10px 20px;
    
    }
    .community {
        padding: 60px 20px;
        gap: 30px;
    }
}
  
  /* TABLET */
  @media screen and (max-width: 768px) and (min-width: 481px) {
    body {
      font-size: 16px;
    }
  
    .nav-bar {
        flex-direction: column;
        align-items: center;
    }

    #nav-li {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .nav-button {
        margin-top: 10px;
    }

    h1 {
      font-size: 48px;
      line-height: 60px;
      letter-spacing: 8px;
    }
  
    h2 {
      font-size: 28px;
      letter-spacing: 6px;
    }
  
    .flex-row-top {
      flex-direction: column; 
      gap: 40px;
    }

    .footer-container {
      flex-wrap: wrap;
      gap: 20px;
    }
  
    .footer-section {
      flex: 1 1 100%; 
      text-align: center;
    }
  }
  
  /* LAPTOP */
  @media screen and (max-width: 1279px) and (min-width: 769px) {
    body {
      font-size: 18px;
    }
  
    h1 {
      font-size: 60px;
      line-height: 72px;
      letter-spacing: 12px;
    }
  
    h2 {
      font-size: 32px;
      letter-spacing: 8px;
    }
  
  
  }
  

  
  /* EXTRA-LARGE */
  @media screen and (min-width: 1441px) {
    body {
      font-size: 22px;
    }
  
    h1 {
      font-size: 82px;
      line-height: 108px;
      letter-spacing: 18.4px;
    }
  
    h2 {
      font-size: 40px;
      letter-spacing: 12px;
    }
  
  }

  
